/* ACCUEIL */

.home {

    .wave_top_section {
        width: 100vw;
        position: relative;

        .over_wave_top {
            padding: 0 5%;
            padding-top: 2rem;

            &>div {
                display: flex;
                width: 100%;
                flex-wrap: wrap;

                h1 {
                    width: 50%;
                    color: white;
                    font-weight: 700;
                    line-height: 3.5rem;
                }

                p {
                    width: 50%;
                    font-size: 1.3rem;
                    font-family: 'Montserrat', sans-serif;
                    color: white;

                }

            }
        }


        .saladeImg {
            position: absolute;
            width: 50%;
            bottom: 0;
            right: 2%;
        }

        .waveTop {
            transform: translateY(-1px);
        }

    }

    

    .home_grid_card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;

    }

    
    .engage {
        display: none;
    }

    .wave_middle_section {

        position: relative;

        .chef_img {
            z-index: 1;
            position: absolute;
            top: -2rem;
            right: 0;
            max-width: 65rem;
            width: 60vw;
        }

        .salade2_img {
            z-index: 1;
            max-width: 40rem;
            width: 40vw;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .svg_top_wave {
            z-index: -1;
            transform: translateY(1px);
        }

        .svg_bottom_wave {
            z-index: -1;
            transform: translateY(-1px);
        }

        &>div {
            
            padding-top: 5vw;
            padding-right: 10%;

            p {
                font-size: 2.5vw;
                width: 60%;
            }
        }

    }

    .ship_range_section {
        background-color: $pink;
        padding: 4rem 0;
        margin-top: 10rem;
        position: relative;

        h2 {
            font-size: 1.3rem;
            text-align: center;
        }

        label {
            font-size: 1.2rem;
        }

        input {
            height: 2.5rem;
            border-radius: 15px;
            border: none;
            box-shadow: none ;
        }

        img {
            width: 40vw;
            position: absolute;
            top: -10rem;
            right: -1rem;
        }

    }

    .offer_section {

        padding: 4rem;
        padding-top: 10rem;

        h2 {
            font-size: 3vw;
        }

        ul {
            font-size: 2vw;

            li {
                list-style: none;
            }
        }

        img {
            width: 100%;
            max-width: 40rem;
        }

        a {
            border-radius: 20px;
            font-size: 2vw;
            padding: 0.5em 1em;
        }
    }


}

@media (min-width: 768px) {
    .home {
        .wave_top_section {
            order: 1;
            h1 {
                font-size: 4rem;
            }
    
            &>div {
                padding-left: 5rem;
            }
        }

        .wave_middle_section {
            order: 3;
        }

        .card_section {
            order: 4;
        }

        .ship_range_section {
            order: 5;
        }

        .offer_section {
            order: 6;
        }
    
        .engage {
            padding: 0 5%;
            display: block;
            order: 2;

            i {
                font-size: 5rem;
            }

            

            .engage_container {
                gap: 6rem;

                &>div {
                    width: 30%;
                }

                p {
                    font-size: 1.3rem;
                }

                .fa-carrot {
                    color: #F05A2C;
                }

                .fa-truck-fast {
                    color: black;
                }

                .fa-hand-holding-dollar {
                    color: #3C814F;
                }

            }
        }

        .ship_range_section {

            padding-left: 20%;

            &>div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;

                h2 {
                    text-align: start;
                }

                h3 {
                    font-size: 1.3rem;
                }

                


                form {
                    display: flex;
                    flex-direction: column;
                    width: 75%;
                }
                

            }

            img {
                position: initial;
            }

        }

    }
    

}