

.menu .nav_container li:first-of-type {
    width: 30%;
    
    

    a {
        padding-right: 1rem;
        justify-content: end;
    }
}

.menu .nav_container li:last-of-type {
    width: 30%;
    
    

    a {
        padding-left: 1rem;
        justify-content: start;
    }
}

.menu {

    .nav_container {
        width: 40rem;

        ul {
            height: 3rem;
            ;



            li {
                width: 20%;
                list-style: none;
                height: 100%;


                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;


                    &:hover {
                        background-color: #8B0400;
                    }
                }
            }
        }
    }

    .card_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 25rem;
        gap: 4rem;
    }


}


@media (min-width: 1200px) {
    .menu {

        display: flex;
        flex-direction: column;
        align-items: center;

        .menu_section {

            width: 100%;
            max-width: 1600px;

            .meal_card {
                min-height: 25rem;
            }
        }

        .card_container {
            grid-template-columns: 1fr 1fr;
        }
    }
}