.plat {

    .div_plat h3 p{
        margin: 0px !important;
    }

    --bs-btn-padding-x:0 !important;

    .card mb-3 {
        max-width: 30%;
    }

    .breakLine {
        max-width: 50%;
    }
}